torch==2.8.0
torchvision==0.23.0
torchaudio==2.8.0
torchmetrics==1.7.4
vllm==0.10.2
flashinfer-python==0.2.14
transformers==4.57.3
accelerate==1.10.1
openai==2.0.0
datasets==4.4.1
tenacity
wandb
ipywidgets
ipykernel
ipython
loguru
rich
matplotlib
seaborn
python-dotenv
huggingface-hub
nvidia-ml-py<13.581.0
-e git+https://github.com/EleutherAI/lm-evaluation-harness.git@v0.4.9.2#egg=lm-eval
